// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com


.blink {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes fade {
  0% {opacity:0;}
  100% { opacity:1; }
}


body { 
  background-color:#555; 
  color:#010;
}

.cs {
  margin:15% 0% 0% 5%;
  text-shadow:0px 2px 3px #0A0, 0px 4px 0px #060, 0px 8px 0px #000; 
  font-size:4em;
}
